<form [formGroup]="formAddRecipe" name="formAddRecipe" (ngSubmit)="goForward()">
  <div>
    <input formControlName="name" placeholder="Nazwa przepisu" />
    <!-- <p
      *ngIf="
        formAddRecipe.controls['name'].touched &&
        formAddRecipe.controls['errors'].errors
      "
    >
      Pole obowiązkowe
    </p> -->
  </div>
  <div>
    <textarea
      formControlName="description"
      placeholder="Jak przygotować ?"
    ></textarea>
  </div>
  <div formArrayName="ingriedients">
    <div
      *ngFor="let ingriedient of ingriedientsControl; let i = index"
      [formGroup]="ingriedient"
      class="row"
    >
      <div class="col-6">
        <input
          id="ingriedients-{{ i }}"
          formControlName="name"
          placeholder="Składnik"
          type="text"
        />
      </div>
      <div class="col-6">
        <input
          id="ingriedients-{{ i }}"
          formControlName="value"
          placeholder="Ile ?"
          type="string"
        />
      </div>
    </div>
    <div class="col-12">
      <button type="button" (click)="addIngredient()">Następny składnik</button>
    </div>
  </div>
  <button type="submit">Dodaj</button>
</form>

<!-- {{ formAddRecipe.value | json }} -->
