<form [formGroup]="formAddRecipe" name="formAddRecipe" (ngSubmit)="goForward()">
  <div>
    <input formControlName="title" placeholder="Nazwa przepisu" />
    <!-- <p
      *ngIf="
        formAddRecipe.controls['title'].touched &&
        formAddRecipe.controls['errors'].errors
      "
    >
      Pole obowiązkowe
    </p> -->
  </div>
  <div>
    <textarea
      formControlName="description"
      placeholder="Jak przygotować ?"
    ></textarea>
  </div>
  <div formArrayName="ingredients">
    <div
      *ngFor="let ingredient of ingredientsControl; let i = index"
      [formGroup]="ingredient"
      class="row"
    >
      <div class="col-6">
        <input
          id="ingredients-{{ i }}"
          formControlName="ingredientName"
          placeholder="Składnik"
          type="text"
        />
      </div>
      <div class="col-6">
        <input
          id="ingredients-{{ i }}"
          formControlName="ingredientAmount"
          placeholder="Ile ?"
          type="number"
        />
      </div>
    </div>
    <div class="col-12">
      <button type="button" (click)="addIngredient()">Następny składnik</button>
    </div>
    <button type="submit">Dodaj</button>
  </div>
</form>
{{ formAddRecipe.value | json }}
