:host {
  display: block;
  background-color: var(--primary);
  color: var(--secondary-variant);
  padding: 0.5rem 0.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    color: var(--secondary);
    background-color: var(--secondary-variant);
    transition: all 0.5s ease;
  }
}

p {
  margin-bottom: 1rem;
}
